.delete-button {
  visibility: hidden;
  display: inline-block;
}

.table-row:hover .delete-button {
  visibility: visible;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;

}